body{
  font-family: Arial, Helvetica, sans-serif;

}
h1{
  text-align: center;
}
#maal{
  text-align: center;
  display: grid;
  grid-template-columns: 450px;
  justify-content: center;
  row-gap: 10px;
}
.input{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
}
.inputname{
  font-size: 20px;
  padding: 6px;
}
#Add{
  background-color: rgb(65, 153, 52);
  color:white;
}
.inputdate{
  font-size: 15px;
}
.todolist{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  margin-left: 0px;
  row-gap: 10px;
}
.deletebutton{
  background-color: rgb(142, 6, 6);
  color: white;
}
.displayname{
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}
.datemenu{
  text-align: left;
}